.buttons {
	display: flex;
}

.next, .previous {
	margin-bottom: 10vh;
	padding: 15px 100px;
	background-color: var(--green);
}

.previous {
	margin-right: 30px;
}

.next:hover, .previous:hover {
	background-color: var(--green-darker);
	cursor: pointer;
}