* {
	box-sizing: border-box;
	border: none;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	padding: 0px;
}

:root {
	--metal: #2a363bff;
	--metal-lighter: rgba(42, 54, 59, 0.7);
	--metal-darker: rgb(24, 31, 34);
	--white: #fff;
	--green: #99b898ff;
	--green-darker: rgb(123, 160, 122);
	--bg: #2a363bff;
	--bg-webkit: -webkit-linear-gradient(to top, #2a363bff, #e84a5fff, #ff847cff, #fecea8ff, #99b898ff);
	--bg-gradient: linear-gradient(to top, #2a363bff, #e84a5fff, #ff847cff, #fecea8ff, #99b898ff);
}

body {
	background: var(--bg);
	background: var(--bg-webkit);
	background: var(--bg-gradient);
	background-attachment: fixed;
	color: var(--white);
}

.hidden {
	display: none;
}