.list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 95vw;
	margin: 0 auto;
}

.list__search {
	border-radius: 50px;
	border: none;
	padding: 15px 25px;
}

.table__head___cell {
	text-transform: uppercase;
	font-weight: 300;
	padding: 15px;
	text-align: left;
}

.table__body___row:nth-child(2n+1) {
	background: var(--metal);
}

.table__body___row {
	font-weight: 500;
}

.table__body___cell {
	padding: 15px;
}