.table {
	margin-bottom: 50px;
}

.table__head___cell {
	color: var(--metal-darker);
	font-weight: 500;
	font-size: 0.925rem;
	padding: 15px;
	text-align: left;
	text-transform: uppercase;
}

.td:hover {
	cursor: pointer;
}

.td {
	display: flex;
	justify-content: end;
	margin-top: 0.925rem;
}

.arrow {
	background-image: url(../../img/icons8-triangle-arrow-24.png);
	background-size: contain;
	display: inline-block;
	height: 15px;
	width: 15px;
}

.up {
	transform: rotate(180deg);
}

.table__body___row:nth-child(2n+1) {
	background: var(--metal);
}

.table__body___row:nth-child(2n) {
	background: var(--metal-lighter);
}

.table__body___row {
	font-weight: 500;
}

.table__body___cell {
	padding: 15px;
}